# Environment Configuration
NODE_ENV=production

# ========================================
# Website Configuration
# ========================================
# The internal container port and the external mapped port
WEBSITE_PORT=5500
# The domain used by Traefik/Coolify to route traffic to the website
WEBSITE_DOMAIN=ibnbatouta.ma

# ========================================
# Admin Configuration
# ========================================
# The internal container port and the external mapped port
ADMIN_PORT=5600
# The domain used by Traefik/Coolify to route traffic to the admin panel
ADMIN_DOMAIN=admin.ibnbatouta.ma
